interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer ak5oN2dpZzNsSDVxTlMwamdDeklSd0NQcm1KZDNVY1RSem9QVkR3YQ==
      content-type:
      - application/json
    method: GET
    uri: https://www.ssgbim.com/api/Home/Family/b3d9f8ca-2564-4c1b-b192-3ac22fcdb86d
  response:
    content: "{\"MediaUrlBase\":\"https://bimservice.ssgbim.com/\",\"BusinessFamilies\":[{\"Id\":\"b3d9f8ca-2564-4c1b-b192-3ac22fcdb86d\",\"ReferenceId\":null,\"Name\":\"SSG_Cabinet_Base_2_Door_LAM\",\"Version\":null,\"FriendlyName\":null,\"CategoryName\":\"Casework/Laminate\",\"ThumbnailUrl\":null,\"FamilyObjectType\":\"Family\",\"GroupedFamilies\":[],\"Files\":[{\"FileGuid\":\"eef9a36a-7581-e811-93ef-005056967d5a\",\"FileKey\":\"FamilyImageLarge\",\"FileName\":\"2_Door_Laminate_Base_Cabinet_Large\",\"FileExtension\":\".png\",\"FileLength\":726592,\"Version\":\"2018.7.6.0\",\"FileData\":null,\"FileDataBase64\":null,\"LocalFilePath\":null,\"FamilyId\":\"b3d9f8ca-2564-4c1b-b192-3ac22fcdb86d\",\"FamilyTypeId\":null,\"Deleted\":false,\"FileId\":158,\"Size\":0,\"RevitVersion\":null,\"UnableToUpgrade\":null,\"UnableToUpgradeMessage\":null,\"FileNameWithExtension\":\"2_Door_Laminate_Base_Cabinet_Large.png\",\"MatchesRevitVersion\":false,\"SharedFileMappingId\":0},{\"FileGuid\":\"eff9a36a-7581-e811-93ef-005056967d5a\",\"FileKey\":\"FamilyImageSmall\",\"FileName\":\"2_Door_Laminate_Base_Cabinet_Small\",\"FileExtension\":\".png\",\"FileLength\":36718,\"Version\":\"2018.7.6.0\",\"FileData\":null,\"FileDataBase64\":null,\"LocalFilePath\":null,\"FamilyId\":\"b3d9f8ca-2564-4c1b-b192-3ac22fcdb86d\",\"FamilyTypeId\":null,\"Deleted\":false,\"FileId\":159,\"Size\":0,\"RevitVersion\":null,\"UnableToUpgrade\":null,\"UnableToUpgradeMessage\":null,\"FileNameWithExte[...]
